<div>
    <h3>Consulta de empresas</h3>
    <p>Listagem de empresasa cadastradas.</p>
    <hr>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Nome fantasia</th>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-sm btn-primary">Editar</button>
                    &nbsp;
                    <button class="btn btn-sm btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Quantidade de empresas: 0</td>
            </tr>
        </tfoot>
    </table>
</div>