<div *ngIf="mensagem_sucesso" (click)="mensagem_sucesso = ''" class="alert alert-success alert-dismissible fade show"
    role="alert">
    <strong>Sucesso!</strong> {{mensagem_sucesso}}
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div *ngIf="mensagem_erro" (click)="mensagem_erro = ''" class="alert alert-danger alert-dismissible fade show"
    role="alert">
    <strong>Erro!</strong> {{mensagem_erro}}
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div>
    <h3>Consulta de empresas</h3>
    <p>Listagem de empresasa cadastradas.</p>
    <hr>

    <div class="text-center">
        <pagination-controls (pageChange)="handlePageChange($event)" previouslabel="Página Anterior"
            nextLabel="Próxima página">

        </pagination-controls>
    </div>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Nome fantasia</th>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of empresas | paginate: {itemsPerPage: 5, currentPage: pagina}">
                <td>{{ e.nomeFantasia | titlecase}}</td>
                <td>{{ e.razaoSocial | titlecase }}</td>
                <td>{{ e.cnpj | titlecase }}</td>
                <td>
                    <button [routerLink]="['/empresas-edicao', e.idEmpresa]"
                        class="btn btn-sm btn-primary">Editar</button>
                    &nbsp;
                    <button (click)="onDelete(e.idEmpresa)" class="btn btn-sm btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Quantidade de empresas: {{ empresas.length }}</td>
            </tr>
        </tfoot>
    </table>
</div>